@import url('../footer.css');
@import url('../header.css');

@font-face {
    font-family: 'Manrope';
    src: url('../../../public/assetsMainPage/fonts/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../../../public/assetsMainPage/fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../public/assetsMainPage/fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../public/assetsMainPage/fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../../../public/assetsMainPage/fonts/Orbitron-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../../../public/assetsMainPage/fonts/Orbitron-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*--------------------------------------------*/
/*                 Общие стили                */
/*--------------------------------------------*/

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    max-width: 100vw;

    color: #000000;
    background-color: #FFFFFF;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: -0.01em;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 10px;
}

a{
    text-decoration: none;
    color: #000000;
}

.h2-title{
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1.5px;
    position: relative;
    text-align: center;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(150px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes gradientShift {
    0% { background-position: left }
    100% { background-position: right; }
}

.intro-description{
    font-weight: 300;
    font-size: 24px;
    line-height: 1.6;
    color: #2e2e2e;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
}


/*--------------Стили для кнопки Configure------------------*/
.link-toConfigure{
    position: relative;
    display: inline-flex;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: #FAFAFA;

    border: 3px solid #898C94;
    padding-inline: 15px;
    border-radius: 30px;
    animation: fadeIn 2s ease forwards 0.5s;

    transition: all 0.4s ease;

    cursor: pointer;
}

.link-toConfigure:after{
    content: '';

    position: relative;
    right: -10px;

    display: inline-flex;
    align-items: center;
    width: 100px;
    height: 80px;

    background: url("../../../public/assetsMainPage/icons/Porshe-icon-model.svg") center/cover no-repeat ;

    transition: all 0.5s ease;
}

.link-toConfigure:hover{
    background-color: #000000;
    color: #FFFFFF;
}

.link-toConfigure:hover::after{
    transform: translateX(50px);
}



/*--------------------------------------------*/
/*--------------------------------------------*/
/*       Стили для INTRO-CAR SECTION          */
/*--------------------------------------------*/
/*--------------------------------------------*/

.introCars{
    background-color: #f5f5f5  ;
    border-bottom: 1px solid #898C94;
}

.introCars__container{
    max-width: 1920px;

    display: grid;
    grid-template-columns: 3fr 5fr;

    opacity: 0;
    transform: translateY(150px);
    animation:
            fadeIn 1.5s ease forwards 0.5s;
}

.introCars__container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 1px #898C94 solid;
}
/*--------------------------------------------*/

.introCars__container-title{

    background: linear-gradient(90deg, #000, #3a3a3a 45%, #fff 50%, #3a3a3a 55%, #000);
    background-size: 200% auto;
    animation:
            gradientShift 2s ease infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 40px;
}

.introCars__container-paragraph {
    margin-bottom: 40px;
}

.introCars__container-button{
    margin-bottom: 30px;
}

.introCars__quote-wrapper{
    position: relative;
    padding-block: 20px;
    text-align: center;

    background: linear-gradient(90deg, #000, #3a3a3a 45%, #fff 50%, #3a3a3a 55%, #000);

    background-size: 200% auto;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation:
            gradientShift 2s ease infinite alternate;

    transition: all 0.5s ease;
}
.introCars__quote-wrapper::before,
.introCars__quote-wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
    transparent 0%,
    #333 20%,
    #ff0000 50%,
    #333 80%,
    transparent 100%);
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.introCars__quote-wrapper::before {
    top: 0;
    transform: scaleX(0.8);
}

.introCars__quote-wrapper::after {
    bottom: 0;
    transform: scaleX(0.6);
}

.introCars__quote-wrapper:hover::before,
.introCars__quote-wrapper:hover::after {
    height: 2px;
    background: linear-gradient(90deg,
    transparent 0%,
    #ff0000 20%,
    #fff 50%,
    #ff0000 80%,
    transparent 100%);
    opacity: 1;
    transform: scaleX(1);
}

.founder-quote__text{
    font-family: 'Manrope', sans-serif ;
    font-size: 18px;
    font-weight: 300;

    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.3px;
    padding-left: 20px;
}

/*--------------------------------------------*/
.introCars__container-car{
    min-width: 0;
}

.introCars__container-car__caption{
    width: 700px;
    margin-top: 25px;


    background: linear-gradient(90deg, #000, #3a3a3a 45%, #ff0000 50%, #3a3a3a 55%, #000);
    background-size: 200% auto;

    animation:
            gradientShift 2s ease infinite alternate;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.introCars__container-car{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------Cтили слайдера------------------*/

.swiper{
    max-width: 100%;
    max-height: 400px;
    margin-inline: auto;

    margin-bottom: 60px;
}

.swiper-wrapper{
}

.swiper-slide{

}

.introCars__swiper-slide-picture{

}

/*------------Список характеристик в INTRO------------------*/

.introCars__car__specs{
    display: flex;
    column-gap: 100px;

    margin-bottom: 40px;
}

.car__specs-item-value{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 54px;
    letter-spacing: 1px;
}

.car__specs-value-span{
    margin-left: 5px;
    font-weight: 400;
    font-size: 24px;
}

.car__specs-item-key{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

/*----------------------Звук двигателя-------------------*/
.introCars__car__sound-wrapper{
    position: relative;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 30px;
}

.introCars__car__sound-description{
    font-weight: 300;
    font-size: 24px;
    line-height: 1.6;
    color: #2e2e2e;
    text-align: left;
    letter-spacing: 0.03em;
    text-transform: none;
}

.introCars__container-car-audio-button{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    border-radius: 30px;
    border: 3px solid #898C94;
    padding: 15px 20px;

    background-color: transparent;

    font-family: 'Montserrat', sans-serif;

    transition: 0.4s;

    z-index: 100;
}

.introCars__container-car-audio-button:hover{
    background: #E7E8EA;
}

.introCars__container-car-audio-player{
    position: absolute;
    width: 400px;
    right: 75px;
}

.hidden{
    opacity: 0;
    z-index: -100;
}

.introCars__car-order-button{
    margin-bottom: 25px;
}

/*--------------------------------------------*/
/*--------------------------------------------*/
/*       Стили для MODEL ROW SECTION          */
/*--------------------------------------------*/
/*--------------------------------------------*/

.modelRow__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    margin-block: 200px;

    opacity: 0;
    transform: translateY(150px);
    animation:
            fadeIn 1.5s ease forwards 0.5s;
}

.modelRow__title{
    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;

    margin-bottom: 100px;
}

.modelRow__list{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 200px;
}

.modelRow__list-item{
    width: 600px;
    height: 800px;

    border-radius: 50px;
}

.modelRow__list-item:nth-child(1){
    background: url("../../../public/assetsMainPage/images/model-row-backgrounds/911-background.avif") center/cover no-repeat;
}

.modelRow__list-item:nth-child(2){
    background: url("../../../public/assetsMainPage/images/model-row-backgrounds/718-background.avif") center/cover no-repeat;
}

.modelRow__list-item:hover {
    position: relative;
    overflow: hidden;
}
.modelRow__list-item:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent);
    transform: skewX(-25deg);
    animation: shine 1.5s ease-out;
}
@keyframes shine {
    100% { left: 150%; }
}

.modelRow__list-item-icon{
    align-self: start;
    width: 100px;
    height: 40px;

    margin-bottom: 10px;
}

.modelRow__list-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
}

.modelRow__list-item__fuelType{
    align-self: start;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;

    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 1.5px;

    background-color: #434141;

    margin-bottom: 480px;
}

.modelRow__list-item-description{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #FFFFFF;

    letter-spacing: 1.5px;
    line-height: 1.2;

    margin-bottom: 40px;
}

.modelRow__list-item-button{
    display: block;
    width: 100%;
    text-align: center;
    padding-block: 10px ;

    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;

    border: 2px solid #FFFFFF;
    border-radius: 10px;

    transition: 0.4s;
}

.modelRow__list-item-button:hover{
    background: #2e2e2e;
}

/*--------------------------------------------*/
/*--------------------------------------------*/
/*        Стили для FIND CAR SECTION          */
/*--------------------------------------------*/
/*--------------------------------------------*/

.findCar__container{
    display: grid;
    grid-template-columns: 3fr 2fr;

    animation: fadeIn 1.5s ease forwards 0.5s;
    opacity: 0;
    transform: translateY(150px);

    max-width: 1500px;

    margin-inline: auto;
    margin-bottom: 200px;
    padding-inline: 0;

    border-radius: 30px;
    overflow: hidden;

}

.findCar__container{
}

.findCar__container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;

    padding: 50px;
    background-color: #000000;


}

.findCar__title{
    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 1.4;

    color: #FFFFFF;
}

.findCar__description{
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: #FFFFFF;
}

.findCar__button{
    align-self: flex-start;

    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;

    padding: 10px 30px;
    background-color: #FFFFFF;

    transition: 0.4s;
}

.findCar__button:hover{
    opacity: 0.5;
}

.footer{
    background-color: #000000;
}

.contacts__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: #FFFFFF;
    padding-block: 50px;

    animation: fadeIn 1.5s ease forwards 0.5s;
}

.contacts-title{
    font-family: 'Manrope', sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
}

.contacts__findInfo-title{
    width: 305px;
    margin-bottom: 15px;
}

.contacts__findInfo-description{
    margin-bottom: 30px;
}

.contacts__findInfo-link{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;

    width: 305px;
    padding: 15px 40px;
    display: inline-block;
    text-align: center;

    background-color: #FFFFFF;
    color: #000000;

    transition: 0.5s;
}

.contacts__findInfo-link:hover{
    opacity: 0.5;
}

.contacts__wrapper{
    width: 100%;
    padding-bottom: 50px;

    display: flex;
    column-gap: 100px;

    border-bottom: 1px solid #434141;
}

.contacts__social-media-title{
    margin-bottom: 55px;
}

.contacts__social-media-list{
    display: flex;
    column-gap: 40px;
}

.contacts__social-media-list-item{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 75px;
    height: 75px;
    background-color: #FFFFFF;

    border-radius: 10px;

    transition: 0.5s;
    cursor: pointer;
}
.contacts__social-media-list-item:hover{
    opacity: 0.5;
}

.contacts__social-media-description{
    margin-bottom: 20px;
}

/*--------------------------------------------*/

.contacts__company-wrapper{
    width: 100%;
    padding-block: 50px;
    border-bottom: 1px solid #434141;
}

.contacts__company-title{
    margin-bottom: 20px;
}

.contacts__company-list{
    display: flex;
    column-gap: 100px;
}

.contacts__company-list-item{
    display: inline-flex;
    flex-direction: column;
    row-gap: 15px;

}

.contacts__company-list-link{

    color: #FFFFFF;
    transition: 0.5s;
    padding: 5px 5px 5px 0px;
    width: fit-content;
}

.contacts__company-list-link:hover{
    background-color: #333333;
    border-radius: 2px;
}

/*--------------------------------------------*/

.contacts__company-rights-wrapper{
    width: 100%;
    margin-top: 50px ;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.contacts__company-rights-logo{
    display: inline-block;
    width: 160px;
    height: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contacts__company-rights-upButton{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;

    transition: 0.5s;
}

.contacts__company-rights-upButton:hover{
    opacity: 0.5;
}