@import url('../footer.css');
@import url('../header.css');
@import url('../popUpMessage.css');

@font-face {
    font-family: 'Roboto Slab';
    src: url('../../../public/assetsModelOverview911/fonts/RobotoSlab-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../../../public/assetsModelOverview911/fonts/RobotoSlab-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../../../public/assetsMainPage/fonts/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../../../public/assetsMainPage/fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../public/assetsMainPage/fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../public/assetsMainPage/fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../../../public/assetsMainPage/fonts/Orbitron-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../../../public/assetsMainPage/fonts/Orbitron-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura New';
    src: url('../../../public/assetsModelReview/fonts/FuturaNewLight-Reg.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;

}
@font-face {
    font-family: 'Futura New Book';
    src: url('../../../public/assetsModelReview/fonts/FuturaNewBook-Reg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(150px); }
    to { opacity: 1; transform: translateY(0); }
}

/*--------------------------------------------*/
/*                 Общие стили                */
/*--------------------------------------------*/

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    max-width: 100vw;

    color: #000000;
    background-color: #EAEAEA;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: -0.01em;
}

.container{
    max-width: 1800px;
    margin: 0 auto;
    /*padding: 0 10px;*/
}

a{
    text-decoration: none;
    color: #000000;
}

.main__container{
    display: grid;
    grid-template-columns: 20% 80%;

    padding-block: 100px;

}

@keyframes gradientShift {
    from {background-position: 0; }
    to { background-position: 100% }
}

.main-title{
    margin-top: 50px;
    font-family: 'Futura New Book', cursive;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 55px;
    text-align: start;

    background: linear-gradient(90deg, #000, #000 45%, #fff 50%, #000 55%, #000 100%);
    background-size: 200% auto;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradientShift 2s ease infinite alternate;

}
/*--------------------------------------------*/
/*--------------------------------------------*/
/*          Стили modelRow SECTION            */
/*--------------------------------------------*/
/*--------------------------------------------*/

.modelRow-title{
    font-family: 'Futura New', cursive;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 30px;

    text-align: center;
    margin-bottom: 50px;
}

/*--------------------------------------------*/
.modelRow__container{

    opacity: 0;
    transform: translateY(150px);
    animation: fadeIn 2s ease forwards 0.5s
}

.modelRow__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 40px;

    column-gap: 100px;
    row-gap: 100px;
}

.modelRow__list-item{
    width: 400px;
    height: 600px;

    border-radius: 30px;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;

    padding: 35px 30px;
    transition: 0.3s;
}

.modelRow__list-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
}

.modelRow__list-item:hover .modelRow__list-item-img{
    transform: scale(1.1);
}

/*-----------------------------------------------*/
.modelRow__list-item-FuelType{
    font-family: 'Roboto Slab', sans-serif;

    font-size: 16px;
    font-weight: 300;
    color: #000000;
    letter-spacing: 1.2px;

    background-color: #E7E8EA;

    width: fit-content;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 2px 5px;
}

.modelRow__list-item-img{
    margin-bottom: 60px;
    align-self: center;

    transition: 0.3s;

}

.modelRow__list-item-title{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5px;

    margin-bottom: 20px;

}

.model__row-list-param{
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    margin-bottom: 30px;
}

.model__row-list-param-item-value{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.model__row-list-param-item-name{
    font-family: 'Roboto Slab', sans-serif;

    font-size: 14px;
    font-weight: 300;
    color: #000000;;

    opacity: 0.6;
}

.modelRow__list-item-confirmButton{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 1.2px;

    padding: 10px 50px;
    border-radius: 10px;
    background-color: #000000;

    width: fit-content;
    align-self: center;

    transition: 0.3s;
}

.modelRow__list-item-confirmButton:hover{
    background-color: #EAEAEA;
    color: #000000;
}


/*--------------------------------------------*/
/*--------------------------------------------*/
/*          Стили Filters SECTION            */
/*--------------------------------------------*/
/*--------------------------------------------*/
.filters{
    border-right: 1px solid #FFFFFF;
    padding-right: 40px;
}

.filters__form{
    opacity: 0;
    transform: translateY(150px);
    animation: fadeIn 2s ease forwards 0.5s;

    position: sticky;
    top: 30px;

    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 35px 30px;

    border: 2px solid #666666 ;

    transition: 0.3s;
}
.filters__form:hover{
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

.filters__series-legend{
    font-family: 'Futura New', cursive;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 30px;

    margin-bottom: 50px;
    border-bottom: 3px solid #000000;
}

.filters__series-list{
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    margin-left: 35px;
}

.filters__series-label{
    position: relative;

    display: inline-flex;
    column-gap: 15px;
}

.filters__series-label-span{
    font-family: 'Futura New', cursive;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 20px;
}

/*--------------------------------------------*/

.filters__list{
    margin-top: 20px;
    margin-left: 30px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.filters__list.hidden{
    display: none;
}

.filters__718-label,
.filters__911-label{
    position: relative;

    display: inline-flex;
    column-gap: 10px;
}

.filters__718-label-span,
.filters__911-label-span{
    font-family: 'Futura New', cursive;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 20px;
}

/*-------------Стилизаия радио кнопок---------*/
/*--------------------------------------------*/

.radio-series-box{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0)
}

.radio-custom-series-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #666666;
    margin-left: -35px;
}

.radio-series-box:checked + .radio-custom-series-box::before{
    content: "";

    width: 12px;
    height: 12px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.filters__series-label-span{
    border-bottom: 3px solid transparent;
    transition: 0.4s;
}
.radio-series-box:checked ~ .filters__series-label-span{
    border-bottom-color: #000000;
}
/*--------------------------------------------*/

.radio-911-custom-series-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: 2px solid #666666;
    margin-left: -35px;
}

.radio-series-box:checked + .radio-911-custom-series-box::before{
    content: "";

    background-color: #000000;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------------------------------------*/

.radio-718-custom-series-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #666666;
    margin-left: -35px;
}

.radio-series-box:checked + .radio-718-custom-series-box::before{
    content: "";

    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: #000000;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}